#center {
    width:50vw;
    height: 60vh;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#ctop {
    height: 70%;
    width:100%;
    
}

#ctopleft {
    height: 100%;
    width: 30%;
    display: inline-block;
}
#ctopright {
    height: 100%;
    width: 60%;
    display: inline-block;
    overflow: auto;
    border-left: 3px solid rgba(120,120,120,0.5);
    padding-left: 20px;
    margin-left: -30px;
    padding-right: 20px;
}

#ctopbot {
    width: 100%;
    height: 30%;
}
#bigImg {
    height: 100%;
}

.thumbs {
    height: 80px;
    width: auto;
    padding: 5px;
}

#background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(img/bg.jpg);
    background-size: cover;
}

#ctoptitle, #ctoppara {
    color: rgb(200,200,200);
}